{% extends "points/_layouts/base" %}

{% set events = craft.points.events() %}
{% set entries = craft.points.entries() %}

{% set extraPageHeaderHtml %}
	{% if events|length %}
	    <div class="buttons right">
	        <a href="{{ url('points/entries/add') }}" class="btn submit add icon">{{ "Add Points"|t }}</a>
	    </div>
    {% endif %}
{% endset %}

{% set content %}

	<div class="grid first">
	    <div class="item">
	        <div id="fields">
	        
	        	<h2>Entries</h2>
	        	
	        	{% if entries|length %}
	
					<table id="navItems" class="data fullwidth collapsible">
						<thead>
							<tr>
								<th>User</th>
								<th>Event</th>
								<th>Points</th>
								<th>Date Created</th>
								<th>Date Updated</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for row in entries %}
							
								{% set event = craft.points.event(row.eventHandle) %}
								
								<tr>
									<td><a href="{{ url('points/entries/add/' ~ row.id) }}">{{ craft.points.user(row.user).username }}</a></td>
									<td>{{ event.event }}</td>
									<td><div class="points-number">{{ event.points }}</div></td>
									<td>{{ row.dateCreated.localeDate() }}</td>
									<td>{{ row.dateUpdated.localeDate() }}</td>
									<td class="thin">
										<a href="{{ actionUrl('points/deleteEntry', { id: row.id }) }}" class="delete icon" title="{{ 'Delete'|t }}"></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				
				{% else %}
					
					<div class="alert">
						{% if events|length %}
							No Entries
						{% else %}
							<p>You need to create an <strong>Event</strong> before you can add point entries.</p>
							<p><a href="{{ url('points/events/add') }}" class="btn submit">Add an Event</a></p>
						{% endif %}
					</div>
				
				{% endif %}
		
	        </div>
	    </div>
	</div>

{% endset %}