{% extends "points/_layouts/base" %}

{% import "_includes/forms" as forms %}

{% if rowId is defined %}
	{% set object = craft.points.eventById(rowId) %}
{% endif %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="points/saveEvent">
        <input type="hidden" name="redirect" value="points/events">
        {% if rowId is defined %}<input type="hidden" name="id" value="{{ rowId }}">{% endif %}

		{{ forms.textField({
		    label: 'Event'|t,
		    id: 'event',
		    name: 'event',
		    value: object is defined ? object.event : null,
		    required: true
		}) }}
		
		{{ forms.textField({
		    label: 'Event Handle'|t,
		    id: 'eventHandle',
		    name: 'eventHandle',
		    value: object is defined ? object.eventHandle : null,
		    required: true
		}) }}

		{{ forms.textField({
		    label: 'Points'|t,
		    id: 'points',
		    name: 'points',
		    value: object is defined ? object.points : null,
		    required: true
		}) }}
		
		{{ forms.lightswitchField({
		    label: 'Allow Multiple?'|t,
		    id: 'multiple',
		    name: 'multiple',
		    value: object is defined ? object.multiple : null,
		    required: false
		}) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>
    </form>

{% endset %}

{% set js %}
	{% if rowId is not defined %}
		new Craft.HandleGenerator('#event', '#eventHandle');
	{% endif %}
{% endset %}
{% includeJs js %}